<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
	t:type="CommonLayout" t:pageTitle="title">

<section class="jumbotron">
	<div class="container">
	
	   <t:delegate to="role"/>

		   <t:block t:id="admin">
		       <h1>${message:adminTitle}</h1>
               <p>${message:adminWelcome}</p>      		       
		   </t:block>
           <t:block t:id="manager">
               <h1>${message:managerTitle}</h1>
               <p>${message:managerMelcome}</p>                     
           </t:block>
           <t:block t:id="team">
               <h1>${message:teamTitle}</h1>
               <p>${message:teamWelcome}</p>                     
           </t:block>
           <t:block t:id="client">
               <h1>${message:clientTitle}</h1>
               <p>${message:clientWelcome}</p>               
           </t:block>                      		   
 	
	</div>
</section>

<section class="container" role="main">
    <div class="row">
	   <t:if test="isAdmin()">
			<article class="col-md-4">
			          <h2>${message:lastUsers-label}</h2>
	
			          <ul>
			              <t:loop source="listUserProfiles" value="userProfile">
					          <li>${userProfile}</li>
	                      </t:loop>				          
				      </ul>			      
			          <a class="btn btn-info" href="#" role="button" t:type="PageLink" t:page="admin/users/UsersList">${message:viewList-label} &raquo;</a>
			</article><!-- /.col-md-4 -->
		</t:if>
		
		<article class="col-md-4">
		          <h2>${message:lastProjects-label}</h2>

		          <ul>
    		          <t:loop source="listProjects" value="project">	          
			      	      <li>${project.projectName}, ${level}</li>
			      	  </t:loop>
		          </ul>
		         <span class="btn-group">		        
		            <a class="btn btn-info" href="#" role="button" t:type="PageLink" t:page="projects/ProjectsList">${message:viewList-label} &raquo;</a>
		            <a class="btn btn-success" href="#" role="button" t:type="PageLink" t:page="projects/StatProjects">${message:viewStatistics-label} &raquo;</a>  	
		          </span>
		</article><!-- /.col-md-4 -->
		
		<article class="col-md-4">
                    <h2>${message:lastRequests-label}</h2>
		          <ul>
		              <t:loop source="listRequests" value="request">		          
			             <li>${request.requestName}, ${request.requestUserProfile}</li>
			          </t:loop>
				  </ul>			          
		         <span class="btn-group">		          	
                    <a class="btn btn-info" href="#" role="button" t:type="PageLink" t:page="requests/RequestsList">${message:viewList-label} &raquo;</a>
                    <a class="btn btn-success" href="#" role="button" t:type="PageLink" t:page="requests/StatRequests">${message:viewStatistics-label} &raquo;</a>
		          </span>
		</article><!-- /.col-md-4 -->	
		
<t:if test="isAdmin()">
    <div class="row"></div>
</t:if>						
	
        <article class="col-md-4">
                  <h2>${message:lastActions-label}</h2>
                  <ul>
                    <!-- List Last Actions -->
                    <t:loop source="listActions" value="action">                  
                        <li>${action.actionName}, ${action.actionUserProfile}</li>
                    </t:loop>
                  </ul>                 
                  <span class="btn-group">                  
                    <a class="btn btn-info" href="#" role="button" t:type="PageLink" t:page="actions/ActionsList">${message:viewList-label} &raquo;</a>
                    <a class="btn btn-success" href="#" role="button" t:type="PageLink" t:page="actions/StatActions">${message:viewStatistics-label} &raquo;</a>
                  </span>
        </article><!-- /.col-md-4 -->

<t:if test="!isAdmin()">
    <div class="row"></div>
</t:if>

        <article class="col-md-4">
                    <h2>${message:lastAttachments-label}</h2>
                  <ul>  
                      <t:loop source="listAttachments" value="attachment">
                          <li>
                              ${attachment.attachmentName}, ${attachment.attachmentUserProfile}
                          </li>
                      </t:loop>       
                  </ul>
                 <span class="btn-group">                   
                    <a class="btn btn-info" href="#" role="button" t:type="PageLink" t:page="attachments/AttachmentsList">${message:viewList-label} &raquo;</a>
                  </span>
        </article><!-- /.col-md-4 -->   
	
    </div>	
</section>
   
</html>