<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
	t:type="CommonLayout" t:pageTitle="title">


<div class="container theme-showcase" role="main">
	<div class="col-md-12 text-center">
		<h1>${message:title}</h1>
	</div>
	
	<section class="top-buffer col-md-6 col-md-offset-3">
	
		<form class="form-horizontal" t:type="Form" t:id="loginForm">
		
		   <t:errors/>
			
		   <div class="form-group">
		        <t:label class="col-sm-4 control-label" for="loginName"/>	        
		        <div class="col-sm-8">
		        	<input class="form-control" t:id="loginName" t:type="TextField"
					       t:validate="required" 
					       size="16" maxlength="30" placeholder="${message:loginName-label}" />
				</div>				       	        
		   </div>
		    
		   <div class="form-group">
		        <t:label class="col-sm-4 control-label" for="password"/>	        
		        <div class="col-sm-8">
		        <input class="form-control" t:id="password" t:type="PasswordField"
					       t:validate="required" 
		                   size="16" maxlength="8" placeholder="${message:password-label}"/>
		        </div>
		    </div>
		    
	  		<div class="form-group">
	    		<div class="col-sm-offset-2 col-sm-10">
		    		<div class="checkbox">
	            		<t:label for="rememberMyPassword"/>
	            			<input t:type="Checkbox" t:id="rememberMyPassword" />
					</div>
				</div>            		
		    </div>	     
		    
		    <p class="text-center">
				<input class="btn btn-default" type="submit" value="${message:submit}"/>        
		    </p>
		    
		</form>
		
	</section>
		
</div>	
</html>