<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
    xmlns:p="tapestry:parameter"
	t:type="Layout" t:pageTitle="title">
	
<h2>${message:secondTitle}</h2>	

<form class="form-horizontal" t:type="Form" t:id="searchForm">  

	<t:errors/>
        	
	<div class="form-group">
	    <t:label class="col-md-2" for="searchName"/>        	
		<div class="col-md-8">
			<input class="form-control" t:id="searchName" placeholder="${message:searchName-label}" t:type="TextField" size="50" maxlength="50"
			t:mixins="Autocomplete"/>
		</div>
	</div>
	
	<div class="form-group">
	    <t:label class="col-md-2" for="startDate"/>  
	    <div class="col-md-3">
	    	<t:datefield size="12" maxlength="10"  class="form-control" t:id="startDate" placeholder="${message:startDate-label}"/>
	    </div>	    
	</div>	
	
	<div class="form-group">
	    <t:label class="col-md-2" for="endDate"/>    
	    <div class="col-md-3">    	
			<t:datefield size="12" maxlength="10" class="form-control" t:id="endDate" placeholder="${message:endDate-label}"/>
		</div>
	</div>		
	
	<div class="form-group">
	    <t:label class="col-md-2" for="projectLevel"/>        	
		<div class="col-md-8">
			<t:select class="form-control" t:id="projectLevel" blankLabel="${message:selectLevel-label}" blankOption="ALWAYS" 
		/>
		</div>
	</div>	
	
	<div class="form-group">
	    <t:label class="col-md-2" for="projectState"/>        	
		<div class="col-md-8">
			<t:select class="form-control" t:id="projectState" blankLabel="${message:selectProjectState-label}" blankOption="ALWAYS"
		/>
		</div>
	</div>
	
	<t:if test="notManager">
		<div class="form-group">
		    <t:label class="col-md-2" for="userManager"/>        	
			<div class="col-md-8">
				<t:select class="form-control" t:id="userManager" 
	            value="userManager"
	            model="selectModelManager"
	            encoder="userManagerEncoder"
	            blankLabel="${message:selectUserManager-label}" blankOption="ALWAYS"
	            />
	        </div>
		</div>
	</t:if>
	
	<t:if test="notClient">
		<div class="form-group">
		    <t:label class="col-md-2" for="userClient"/>        	
			<div class="col-md-8">
				<t:select class="form-control" t:id="userClient" 
	            value="userClient"
	            model="selectModelClient"
	            encoder="userClientEncoder"
	            blankLabel="${message:selectUserClient-label}" blankOption="ALWAYS"
	            />
	        </div>
		</div>	
	</t:if>
	
	<div class="form-group">
	    <t:label class="col-md-2" for="userTeam"/>        	
		<div class="col-md-8">
			<t:select class="form-control" t:id="userTeam" 
            value="userTeam"
            model="selectModelTeam"
            encoder="userTeamEncoder"
            blankLabel="${message:selectUserTeam-label}" blankOption="ALWAYS"
            />
        </div>
	</div>	
    
    <div class="col-md-6 text-right">	  	 
    	<input id="submit" class="btn btn-primary" type="submit" value="${message:submit}"/>  
    </div>	
    
</form>
</html>