<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
	t:type="Layout" t:pageTitle="title">

<h2>${message:secondTitle}</h2>

<form class="form-horizontal" t:type="Form" t:id="registrationForm" role="form">

   <t:errors/>
   
   <div class="form-group"> 
        <t:label class="col-md-2" for="loginName"/>
        <div class="col-md-8">    
             <input class="form-control" t:id="loginName" t:type="TextField"
			       t:validate="required" 
			       size="16" maxlength="30" />
        </div>
   </div>
    
   <div class="form-group">        
        <t:label class="col-md-2" for="password"/>
        <div class="col-md-8">
             <input class="form-control" t:id="password" t:type="PasswordField"
			       t:validate="required" 
                   size="16" maxlength="8"/>
        </div>
	</div>
	<div class="form-group">
        <t:label class="col-md-2" for="retypePassword"/>
        <div class="col-md-8">
             <input class="form-control" t:id="retypePassword" t:type="PasswordField"
			       t:validate="required" 
                   size="16" maxlength="8"/>
        </div>
    </div>
    
   <div class="form-group">        
        <t:label class="col-md-2" for="firstName"/>
        <div class="col-md-8">    
             <input class="form-control" t:id="firstName" t:type="TextField"
			       t:validate="required" 
			       size="16" maxlength="30" />
        </div>
	</div>
	<div class="form-group">
        <t:label class="col-md-2" for="lastName"/>
        <div class="col-md-8">    
             <input class="form-control" t:id="lastName" t:type="TextField"
			       t:validate="required" 
			       size="16" maxlength="30" />
        </div>
   </div>
   
   <div class="form-group">        
        <t:label class="col-md-2" for="email"/>
        <div class="col-md-8">    
             <input class="form-control" t:id="email" t:type="TextField"
			       t:validate="required,regexp" 
			       size="16" maxlength="30" />
        </div>
   </div>
   
<div class="form-group">
    <t:label class="col-md-2" for="userProfileRole"/>
    <div class="col-md-8">
    	<t:select class="form-control" t:id="userProfileRole" validate="required"
    	 blankLabel="${message:selectRole-label}"
          blankOption="ALWAYS"
    	/>
    </div>
</div>

<div class="form-group">
	<t:label class="col-md-2" for="active"/>
	<div class="col-md-8">
    	<t:checkbox t:id="active"/>
    </div>
</div>
    
<div class="col-md-6 text-right">	  	 
    	<input id="submit" class="btn btn-primary" type="submit" value="${message:submit}"/>  
    </div>	

    
</form>
	
</html>