<!DOCTYPE html>
<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
	xmlns:p="tapestry:parameter" lang="${lang}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<link rel="shortcut icon" href="${context:/img/favicon.ico}" />

		<title>
			${message:header}
			<t:if test="${pageCommonTitle}">: ${pageCommonTitle}</t:if>
		</title>

		<link rel="stylesheet" href="${context:/css/layout.css}" />

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media 
			queries -->
		<!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> 
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> 
			<![endif] -->

	</head>
	<body>
		<div class="wrapper row-offcanvas">
			<!-- BEGIN HEADER -->
			<header class="navbar navbar-inverse navbar-static-top" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<header class="navbar-header" role="banner">
						<button type="button" class="navbar-toggle btn navbar-btn"
							data-toggle="collapse" data-target="#navbar-collapse-horizontal-menu">
							<span class="sr-only">Main menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!-- BEGIN TITLE PAGE -->
						<a class="navbar-brand" t:type="PageLink" t:page="Index">
							${message:header}
						</a>
						<!-- END TITLE PAGE -->
					</header>

					<!-- Collect the nav for user links -->
					<div class="navbar-collapse collapse navbar-responsive-collapse"
						id="navbar-collapse-horizontal-menu">

						<ul class="nav navbar-nav">
							<t:menu.MenuComponent pageList="mainMenuPagesList" />
							<t:if test="!userSession">
                                    <li>
                                        <a t:type="PageLink" t:page="Index" t:anchor="${literal:help}">
                                            <span class="glyphicon glyphicon-question-sign" />
                                            ${message:menu-help}
                                        </a>
                                    </li>
                                    <li>
                                        <a t:type="PageLink" t:page="Index" t:anchor="${literal:about}">
                                            <span class="glyphicon glyphicon-info-sign" />
                                            ${message:menu-about}
                                        </a>
                                    </li>
                                    <li>
                                        <a t:type="PageLink" t:page="Index" t:anchor="${literal:terms}">
                                            <span class="glyphicon glyphicon glyphicon-book" />
                                            ${message:menu-terms}
                                        </a>
                                    </li>
							</t:if>
						</ul>


						<ul class="nav navbar-nav navbar-right">
							<!-- If user is sign in -->
							<t:if test="userSession">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<span class="glyphicon glyphicon-user" />
										${userSession.firstName}
										<b class="caret" />
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a t:type="PageLink" t:page="user/UpdateProfile">
												<span class="glyphicon glyphicon-edit" />
												${message:menu-updateProfile}
											</a>
										</li>
										<li role="presentation" class="divider"></li>
										<li>
											<a t:type="PageLink" t:page="user/ChangePassword">
												<span class="glyphicon glyphicon-lock" />
												${message:menu-changePassword}
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a t:type="ActionLink" t:id="logout" t:context="[]">
										<span class="glyphicon glyphicon-log-out" />
										${message:menu-logout}
									</a>
								</li>
								<!-- If not user -->
								<p:else>
									<li>
										<a t:type="PageLink" t:page="user/Login">
											<span class="glyphicon glyphicon-log-in" />
											${message:menu-authenticate}
										</a>
									</li>
									<li>
										<a t:type="PageLink" t:page="user/Register">
											<span class="glyphicon glyphicon-pencil" />
											${message:menu-register}
										</a>
									</li>
								</p:else>
							</t:if>
						</ul>
					</div>
					<!-- End Collect user links -->
				</div><!-- End div container-fluid -->
			</header>
			<!-- END HEADER -->

			<t:body />

		</div>

		<footer class="nav-bottom" role="contentinfo">
			<div class="container">
				<p>
					<span class="glyphicon glyphicon-copyright-mark" />
					${footerMain}
				</p>
				<p>
					${message:basedOn-label}
					<a target="_blank" href="http://getbootstrap.com">Twitter Bootstrap</a>
					, ${message:iconsFrom-label}
					<a target="_blank" href="http://glyphicons.com/">Glyphicons</a>
				</p>
				<p>
					<a t:type="PageLink" t:page="Index" t:anchor="${literal:help}">${message:menu-help}</a>
					|
					<a t:type="PageLink" t:page="Index" t:anchor="${literal:about}">${message:menu-about}</a>
					|
					<a t:type="PageLink" t:page="Index" t:anchor="${literal:terms}">${message:menu-terms}</a>
					|
					<a t:type="PageLink" t:page="SelectLanguage">${message:selectLanguage-label}</a>
				</p>
			</div>
		</footer>


		<!-- Fixed nav margin bottom and footer height -->
		<style>
			.navbar{
			margin-bottom:0px;
			}
			.
			html {
			position: relative;
			min-height: 100%;
			}
			body,section {
			/* Margin bottom by footer height */
			margin-bottom: 120px;
			}
		</style>
	</body>
</html>