<!DOCTYPE html>
<html
	t:type="CommonLayout" pageCommonTitle="${pageTitle}"
    xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
    xmlns:p="tapestry:parameter">    	
								
    <t:if test="mainMenuPagesList">             
        <nav class="col-md-2 navbar-default navbar-static-side" role="navigation">          
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle btn navbar-btn" data-toggle="collapse" data-target="#nabar-collapse-verticalmenupanel">
                     <span class="sr-only">${message:sideBar-label}</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </button>
                    <div class="row"/>
                </div>
                <div class="row top-buffer-20"/>            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse navbar-responsive-collapse" id="nabar-collapse-verticalmenupanel">    
                    <ul class="nav nav-pills nav-stacked">
                        <t:menu.MenuComponent pageList="mainMenuPagesList" isVertical="literal:true"/>
                    </ul>
                </div>
            </div>
        </nav>
    </t:if>
                
    <section class="col-md-10" rol="main">
        
        <h1>${pageTitle}</h1>
        
        <t:if test="tabMenuPagesList">
            <ul class="nav nav-tabs" role="tablist">        
                <t:menu.MenuComponent pageList="tabMenuPagesList"/>
            </ul>                 
        </t:if>
                    
        <t:body/>
    </section>                     
    
</html>