/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
footer {
  /* fixed bottom */
  position: absolute;
  bottom: 0;  
  width: 100%;  
  background-color: #6fbe42;
}
footer > div, footer > div > p{
	margin-top: 5px;
    background-color: #6fbe42;
    color: #ffffff;
    text-align:center;
}
/**
*	Collapse horizontal with plugin
*	@Link http://stackoverflow.com/questions/18993202/bootstrap-3-0-collapse-horizontally
*/


/*
* Style for horizontal menu
*/
.navbar-inverse .navbar-brand > a{
	color: #fff;
}
.navbar{
	margin-bottom:0px;
}

/*
* Style for vertical navigation menu
*/
.nav-pills > li.active2 > a, .nav-pills > li.active2 > a:hover, .nav-pills > li.active2 > a:focus {
    color: #fff;
    background-color: #a5cd39;
}
.nav > li > a {
	color: #70be42;		
}
.nav > li > a:hover,.nav > li > a:focus{
	color: #a5cd39;		
}
.nav > li > a > span {
	margin-right: 5px;
}
.nav.nav-pills.nav-stacked > li > ul > li {
	padding: 5px 0 5px 25px;
}
.nav > li > ul > li > a{	
	color: #999;
}
.nav > li > ul > li:hover,.nav > li > ul > li:focus,.nav > li > ul > li.active2{
	color: #000;
    text-decoration: none;
	background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%);
	background-repeat: repeat-x;    
}

/*
 * Global add-ons
 */
 h1.page-header {
  margin: 0px 0px 20px;
 }
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/**
*	Grid options
*/
th[data-grid-property="actions"] {  
  white-space: nowrap;  
  width: 7%;
}

/**
*	Search forms margins
*/
.form-group{
	margin: 2px;	
}

/**
*	top margins for rows
*/
.top-buffer { margin-top: 30px; }
.top-buffer-20 { margin-top: 20px; }
.top-buffer-10 { margin-top: 10px; }
.top-buffer-5 { margin-top: 5px; }

/**
*	Lateral collapse menu
*	@link http://pivotallabs.com/html5-facebook-style-sliding-menu-using-twitter-bootstrap-collapse/
*/
.menu {
height:100%;
}

.menu.collapse {
float:left;
height: 100% !important;
width: auto;
}

menu.collapse.height {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height 0.35s ease;
-moz-transition: height 0.35s ease;
-o-transition: height 0.35s ease;
transition: height 0.35s ease;
}

menu.collapse.width {
position: relative;
width: 0;
overflow: hidden;
-webkit-transition: width 0.35s ease;
-moz-transition: width 0.35s ease;
-o-transition: width 0.35s ease;
transition: width 0.35s ease;
}

menu.collapse.in.width {
width: auto;
}

menu.collapse.in.height {
height: auto;
}

menu.collapse-inner {
position: relative;
width: 250px;
height: 100%;
}