<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
    xmlns:p="tapestry:parameter"
	t:type="Layout" t:pageTitle="title">
	
<h2>${message:secondTitle}</h2>	

<form class="form-horizontal" t:type="Form" t:id="searchForm">  

	<t:errors/>
        	
		<div class="form-group">
		    <t:label class="col-md-2" for="searchName"/>        	
			<div class="col-md-8">
				<input class="form-control" t:id="searchName" placeholder="${message:searchName-label}" t:type="TextField" size="50" maxlength="50"
				t:mixins="Autocomplete"/>
			</div>
		</div>
		
		      
        <div class="form-group">
            <t:label class="col-md-2" for="startDate"/>  
            <div class="col-md-3">
                <t:datefield size="12" maxlength="10"  class="form-control" t:id="startDate" placeholder="${message:startDate-label}"/>
            </div>      
        </div>  
        
        <div class="form-group">
            <t:label class="col-md-2" for="endDate"/>    
            <div class="col-md-3">      
                <t:datefield size="12" maxlength="10" class="form-control" t:id="endDate" placeholder="${message:endDate-label}"/>
            </div>
        </div>  

		<div class="form-group">	
			    <t:label class="col-md-2" for="project"/>
		        <div class="col-md-8">
					<t:select class="form-control" t:id="project"
		                  value="project"
		                  model="selectModelProject"
		                  encoder="projectEncoder"
		                  blankLabel="${message:selectProject-label}"
		                  blankOption="ALWAYS"
		                  zone="requestZone"
		                  />	             
		        </div>
		</div>	
	
		
		<div class="form-group">	
			    <t:label class="col-md-2" for="request"/>
		        <div class="col-md-8">
					<t:zone t:id="requestZone" id="requestZone">
						<t:if test="project">
						<t:select class="form-control" t:id="request"
			                  value="request"
			                  model="selectModelRequest"
			                  blankLabel="${message:selectRequest-label}"
			                  blankOption="ALWAYS"			                  
			                  />
			            <p:else>
			            	${message:selectProject-label}
			            </p:else> 			                  
						</t:if>
					</t:zone>		                     
		        </div>
		</div>		        		 	 
		  	 
		<div class="form-group">
		    <t:label class="col-md-2" for="userProfile"/>        	
			<div class="col-md-8">
				<t:select class="form-control" t:id="userProfile" 
	            value="userProfile"
	            model="selectModelUser"
	            encoder="userEncoder"
	            blankLabel="${message:selectUserProfile-label}" blankOption="ALWAYS"
	            />
	        </div>
		</div>		  	 		  	 		
		    
	    <div class="form-group">
	        <t:label class="col-md-2" for="actionState"/>
	        <div class="col-md-8">
	                <t:select class="form-control" t:id="actionState" 
	                	blankLabel="${message:selectActionState-label}"
                      	blankOption="ALWAYS"
	                />
	        </div>
	    </div>
	    
	    <div class="form-group">
	        <t:label class="col-md-2" for="actionType"/>
	        <div class="col-md-8">
	                <t:select class="form-control" t:id="actionType" 
	                	blankLabel="${message:selectActionType-label}"
                      	blankOption="ALWAYS"
	                />
	        </div>
	    </div>	     	  	
			
    
	    <div class="col-md-6 text-right">	  	 
	    	<input id="submit" class="btn btn-primary" type="submit" value="${message:submit}"/>  
	    </div>	
    
</form>
</html>