<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
	xmlns:p="tapestry:parameter" t:type="Layout" t:pageTitle="title">


<div class="row">
	<div class="col-md-10">
		<t:if test="request">
			<h2>${message:request-label} ${request.requestName}</h2>
			<p:else>
				<h2>${message:secontTitle-label}</h2>
			</p:else>
		</t:if>
	</div>
</div>

<div class="row">
	<article id="article_stats" class="col-md-6 text-center">
		<h3>${message:statisticsOfActionStates-label}</h3>
		<div id="chart_states"></div>
	</article>

	<article id="article_types" class="col-md-6 text-center">
		<h3>${message:statisticsOfActionTypes-label}</h3>
		<div id="chart_types"></div>
	</article>
</div>

<!-- TIMELINE -->
<div class="row">
	<article id="article_timeline" class="col-md-10">
		<h3>${message:timeline-label}</h3>
		<div id="timeline"></div>
	</article>
</div>

<!-- API Google Charts -->
<script type="text/javascript"
	src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['corechart', 'timeline']}]}"></script>
<script>

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChartActionState);
google.setOnLoadCallback(drawChartActionType);
google.setOnLoadCallback(drawChartTimeline);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChartActionState() 
{
  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'actionState-label');
  data.addColumn('number', 'actions-label');
  data.addRows([
    ${actionStateCounts}
  ]);
  
  //alert(data.toJSON());
  /*
  {"cols":[{"id":"","label":"projectState-label","pattern":"","type":"string"},{"id":"","label":"actions-label","pattern":"","type":"number"}],"rows":[{"c":[{"v":"Abierto","f":null},{"v":6,"f":null}]},{"c":[{"v":"Finalizado","f":null},{"v":2,"f":null}]},{"c":[{"v":"Cancelado","f":null},{"v":1,"f":null}]}],"p":null}
  */

  var width = document.getElementById("article_stats").offsetWidth - 20; // 600
  var height = width * 0.75;
  
  // Set chart options
  var options = {is3D: true,
		  colors: ['#248F24', '#33CC33', '#70DB70'],
		  'width':width,
                 'height':height};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('chart_states'));
  chart.draw(data, options);
}

function drawChartActionType() {
    
    // Create the data table for Level state
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'actionType-label');
    data.addColumn('number', 'actions-label');
    data.addRows([
      ${actionTypeCounts}
    ]);
    
    var width = document.getElementById("article_types").offsetWidth - 20; // 600
    var height = width * 0.75;

    // Set chart options
    var options = {
            is3D: true,
            colors: ['#0F2E4C', '#1A4C80', '#246BB2', '#2E8AE6', '#47A3FF', '#70B8FF', '#99CCFF'], 
            'width':width,
                   'height':height};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_types'));
    chart.draw(data, options);
  }
  
// Draw time line
function drawChartTimeline() {
  var container = document.getElementById('timeline');
  var rows = [${timelineActions}];
  var width = document.getElementById("article_timeline").offsetWidth; // 600
  var height = 100 + ${rowCounts} * 50;
  
    // Set chart options
    var options = {is3D: true,
            'width':width, 'height' :height};

  var chart = new google.visualization.Timeline(container);

  var dataTable = new google.visualization.DataTable();

  dataTable.addColumn({ type: 'string', id: 'Project' });
  dataTable.addColumn({ type: 'date', id: 'Created' });
  dataTable.addColumn({ type: 'date', id: 'Finished' });

  dataTable.addRows(rows);

  chart.draw(dataTable, options);
}  
  

</script>

</html>